<%- include('partials/header'); -%>


<%posts.forEach(function(e){%>
    <h1><%=e.title%></h1>
    <p><%=e.content.substring(0,120)+" ..."%> <a href="/posts/<%=e._id%>">Read More.</a></p>
    
<%});%>

<%- include('partials/footer'); -%>

